<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/navbar :: nav"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Dodaj nowy film</h1>

            <!-- Blog Post -->
            <form class="form-signin" method="POST" th:object="${movieForm}" th:action="@{/add-movie}">
                <div class="form-label-group">
                    <label for="name">Tytuł filmu</label>
                    <input type="text" th:field="*{name}" class="form-control"
                           placeholder="Tytuł filmu" required
                           autofocus maxlength="50"
                           title="Proszę podać tytuł fimu. Musi mieć do 50 znaków.">

                    <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                          role="alert"></span>
                </div>

                <div class="form-label-group">
                    <label for="description">Opis</label>
                    <input type="text" th:field="*{description}" class="form-control"
                           placeholder="Opis filmu"
                           maxlength="1000"
                           title="Można wpisać opis filmu, maksymalnie do 1000 znaków.">

                    <span class="has-error" th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}"
                          role="alert"></span>
                </div>

                <div class="form-label-group">
                    <label for="year">Rok stworzenia</label>
                    <input type="text" th:field="*{year}" class="form-control"
                           placeholder="Rok stworzenia" required
                           title="Proszę wybrać rok powstania filmu.">

                    <span class="has-error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"
                          role="alert"></span>
                </div>

                <div class="form-label-group">
                    <select th:field="*{country}">
                        <option value="0">Wybierz kraj</option>
                        <option th:each="country : ${countries}"
                                th:value="${country.id}"
                                th:text="${country.name}"></option>
                    </select>
                </div>

                <hr>

                <button type="submit" class="btn btn-lg btn-dark btn-block text-uppercase">
                    DODAJ FILM
                </button>
            </form>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

</body>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</html>