<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/navbar :: nav"></nav>

<!-- Page Content -->
<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Zaloguj się</h5>
                <form class="form-signin" method="POST" th:action="@{/login}">
                    <div class="form-label-group">
                        <span th:text="${message}"></span>
                        <label for="login">Login</label>
                            <input name="username" id="login" type="text" class="form-control" placeholder="Login"
                                   autofocus/>
                    </div>

                    <div class="form-label-group">
                        <label for="password">Hasło</label>
                            <input name="password" id="password" type="password" class="form-control" placeholder="Hasło"/>
                        <span class="has-error" th:text="${error}"></span>
                    </div>

                    <hr>

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Zaloguj się</button>

                </form>
                <p><i>Nie masz konta?</i>
                    <a class="text-info" href="/registration">Zarejestruj się!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

</body>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</html>