<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/navbar :: nav"></nav>

<!-- Page Content -->
<div class="container">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Zarejestruj się</h5>

                <div class="card-body">
                    <form class="form-signin" method="POST" th:object="${userForm}" th:action="@{/registration}">
                        <div class="form-label-group">
                            <label for="login">Login</label>
                            <input id="login" type="text" th:field="*{login}" class="form-control"
                                   pattern="^(?=.*[A-Za-z0-9]$)[A-Za-z][A-Za-z\d.-]{4,8}$"
                                   name="login" placeholder="Login" value="{{ old('name') }}" required
                                   autocomplete="name" autofocus minlength="5" maxlength="20"
                                   title="Proszę podać login. Może zawierać zarówno cyfry, litery, jak i znak -, musi zaczynać się od litery, od 5 do 8 znaków.">

                            <span class="has-error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                                  role="alert"></span>
                        </div>

                        <div class="form-label-group">
                            <label for="email">Adres email</label>
                            <input id="email" type="text" th:field="*{email}" class="form-control"
                                   pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                                   name="email" placeholder="Adres email" value="{{ old('email') }}" required
                                   autocomplete="email" title="Proszę podać adres email.">

                            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                  role="alert"></span>
                        </div>

                        <div class="form-label-group">
                            <label for="password">Hasło</label>
                            <input id="password" type="password" th:field="*{password}"
                                   class="form-control" name="password"
                                   placeholder="Hasło" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                                   required autocomplete="new-password"
                                   title="Proszę podać hasło. Co najmniej jedna mała litera, wielka litera i jedna cyfra, min. 8 znaków.">

                            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                  role="alert"></span>
                        </div>

                        <div class="form-label-group">
                            <label for="password-confirm">Potwierdź hasło</label>
                            <input id="password-confirm" type="password" th:field="*{passwordConfirm}"
                                   class="form-control"
                                   name="passwordConfirm"
                                   placeholder="Ponowne hasło" required autocomplete="new-password"
                                   title="Proszę podać ponownie hasło.">

                            <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
                                  th:errors="*{passwordConfirm}" role="alert"></span>
                        </div>

                        <div class="form-label-group">
                            <label for="specialNotes">O sobie</label>
                            <input id="specialNotes" type="text" th:field="*{specialNotes}" class="form-control"
                                   pattern="^(?=.*[A-Za-z0-9]$)[A-Za-z][A-Za-z\d.-]{4,8}$"
                                   name="specialNotes" placeholder="O sobie" value="{{ old('specialNotes') }}"
                                   autocomplete="name" autofocus minlength="5" maxlength="100"
                                   title="Można wpisać notatki o sobie, od 5 do 100 znaków.">

                            <span class="has-error" th:if="${#fields.hasErrors('specialNotes')}"
                                  th:errors="*{specialNotes}"
                                  role="alert"></span>
                        </div>

                        <hr>

                        <p><i>Masz już konto?</i>
                            <a class="text-info" href="#">Zaloguj się!</a>
                        </p>

                        <button type="submit" class="btn btn-lg btn-dark btn-block text-uppercase">
                            ZAREJESTRUJ SIĘ
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

</body>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</html>