<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/navbar :: nav"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Page Heading
                <small>Secondary Text</small>
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div sec:authorize="isAuthenticated()">
                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>

                    <h2>Welcome <span sec:authentication="name"></span> | <a
                            onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

</body>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer-scripts :: footer-scripts"></div>

</html>